{% extends 'base.html' %}

{% comment %}
Available Variables
* dateFileMap - contains date wize sorted list
{% endcomment %}

{% load cms_utils %}
{% load staticfiles %}


{% block title %}Daily updated Nepali news{% endblock %}
{% block page_header %}{% endblock %}

{% block content %}
<h2>Bharkhar matrai pakeko, Ekdam Taja.</h2>
<p>Bharkhar.com hosts <strong>daily copies</strong> in PDF of major Nepali Newspapers.</p>
<!-- <p>Go to <a href="/patrika">Patrika</a></p> -->
<section id="todays-papers">
  {% for fileDate, latestFileList in dateFileMap.iteritems %}
    <h3>Papers for {{ fileDate }}</h3>
    <div class="row">
    {% for dir, latestFile in latestFileList.iteritems %}
      <div class="span2">
        <a href="{% static '' %}{{ dir }}/{{ latestFile.0 }}" target="_blank">
          <img src="{% static '' %}thumbnails/{{ dir }}/{{ latestFile.0|thumbnail_url }}" />
        </a>
      </div>
    {% endfor %}
    </div>  
  {% endfor %}
</section>
<section id="all-papers" class="show-grid">
  <p>
  Click <a href="/patrika">here</a> to read past papers.
  </p>
</section>
<section id="footer">
  <h3>About</h3>
  <p>For hackers: The codebase to generate the PDF is Free. If you want to generate PDF locally on your own, check out 
  <a href="https://github.com/bibstha/NepaliNewsPdfGenerator" target="_blank">NepaliNewsPdfGenerator</a>. <br/>
  Get in touch with me in <a href="http://twitter.com/bibstha" target="_blank">Twitter</a>.
  </p>
</section>
{% endblock %}
