{% comment %}
Available Variables
* list
* relPath
* baseName (for instance patrika)
{% endcomment %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<!--
___.   .__                  __   .__                   /\                 /\ 
\_ |__ |  |__ _____ _______|  | _|  |__ _____ _______  \ \    _____      / / 
 | __ \|  |  \\__  \\_  __ \  |/ /  |  \\__  \\_  __ \  \ \  /     \    / /  
 | \_\ \   Y  \/ __ \|  | \/    <|   Y  \/ __ \|  | \/   \ \|  Y Y  \  / /   
 |___  /___|  (____  /__|  |__|_ \___|  (____  /__|       \ \__|_|  / / /    
     \/     \/     \/           \/    \/     \/            \/     \/  \/     
-->
<head>
<title>Nepali Patrika</title>
<style>
body { font-family: "helvetica neue", helvetica, arial, sans-serif; font-size: 13px; }
.dir {
	list-style: square url({{ MEDIA_URL }}folder_icon.png);
}
.file {
	list-style: square url({{ MEDIA_URL }}pdf_icon.png);
}
</style>
<!-- GoogleAnalytics -->
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-33001355-1']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
<!-- End GoogleAnalytics -->
</head>
<body>

<!-- fb stuff -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- end of fb stuff -->

<h1>Nepali Patrika Archive</h1>
<span>Index of "/patrika/{{ relPath }}"</span>
<ul>
	{% if relPath != "." %}
		<li class="dir"><a href="..">../</a></li>
	{% endif %}

	{% for listType, listValues in list.iteritems %}
		{% if listType == "dirList" %}
			{% for name in listValues %}
				<li class="dir"><a href="./{{ name }}/">{{ name }}/</a></li>
			{% endfor %}
		{% elif listType == "fileList" %}
			{% for name in listValues %}
				<li class="file"><a href="{% static '' %}{{ relPath }}/{{ name }}">{{ name }}</a></li>
			{% endfor %}
		{% endif %}
	{% endfor %}
</ul>
<hr/>
<h2>Leave your comments</h2>
<p>Comments, suggestions, improvement tipes</p>
<div class="fb-comments" data-href="http://bharkhar.com/patrika/" data-num-posts="20" data-width="470"></div>
</body>
</html>