{% extends 'base.html' %}

{% comment %}
Available Variables
* list
* relPath
* baseName (for instance patrika)
{% endcomment %}
{% load staticfiles %}

{% block title %}Nepali Patrika{% endblock %}
{% block page_header %}Nepali Patrika{% endblock %}

{% block content %}
<!-- fb stuff -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- end of fb stuff -->

<h2>Index of "/patrika/{{ relPath }}"</h2>
<div class="bubble">
<table class="file_list">
	<thead>
		<tr>
      <th></th><th>Name</th><th>Size</th>
    </tr>
  </thead>
  <tbody>

  {% if relPath != "." %}
  <tr>
  	<td class="dir_icon"></td>
    <td class="dir"><a href="..">../</a></td><td></td>
  </tr>
  {% endif %}

  {% spaceless %}
  {% for listType, listValues in list.iteritems %}
    {% if listType == "dirList" %}
      {% for name in listValues %}
        {% cycle ' alt' '' as rowClass silent %}
        <tr class="dir{{ rowClass }}">
        	<td class="dir_icon"></td>
        	<td><a href="./{{ name.0 }}/">{{ name.0 }}/</a></td></td><td></td>
        </tr>
      {% endfor %}
    {% elif listType == "fileList" %}
      {% for name in listValues %}
        {% cycle rowClass %}
        <tr class="file{{ rowClass }}">
        	<td class="file_icon"></td>
        	<td class="file_name"><a href="{% static '' %}{{ relPath }}/{{ name.0 }}" target="_blank">{{ name.0 }}</a></td>
        	<td class="file_size">{{ name.1 }}</td>
        	<!--<td class="file_download">
        	  <a href="">Report Issue</a>
        	</td>-->
        </tr>
      {% endfor %}
    {% endif %}
  {% endfor %}
  {% endspaceless %}
  
  </tbody>
  </table>
  </div>
<hr/>
<h2>Leave your comments</h2>
<p>Comments, suggestions, improvement tips:</p>
<div class="fb-comments" data-href="http://bharkhar.com/patrika/" data-num-posts="20" data-width="470"></div>

{% endblock %}