body { 
  font: 13px Helvetica,arial,freesans,clean,sans-serif;
  line-height: 1.4;
  color: #333; 
}

.dir { list-style: square url(/patrika/media/fileindex/folder_icon.png); }
li.file { list-style: square url(/patrika/media/fileindex/pdf_icon.png); }

.file_name { width: 200px; }
.file_size { width: 100px; }
table { 
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%;
  font: inherit;
  text-align: left;
  width: 100%
}
th {
  text-align: left;
  font-weight: bold;
  padding: 6px 3px;
  color: #555;
  text-shadow: 0 1px 0 white;
  border-bottom: 1px solid #D8D8D8;
  background: #FAFAFA;
  background: -moz-linear-gradient(#FAFAFA,#EAEAEA);
  background: -webkit-linear-gradient(#FAFAFA,#EAEAEA);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#eaeaea')";
}
td {
  background: #F8F8F8;
  border-bottom: 1px solid #EEE;
  padding: 7px 3px;
  color: #484848;
  vertical-align: middle;
}
.dir_icon, .file_icon {
  width: 17px;
  padding-right: 2px;
  padding-left: 10px;
  background-position: 8px 5px;
  background-repeat: no-repeat;
}

.dir_icon {
  background-image: url(/patrika/media/fileindex/folder_icon.png);
}

.file_icon {
  background-image: url(/patrika/media/fileindex/pdf_icon.png);
}

.bubble {
  padding: 3px;
  background: #EEE;
  border-radius: 3px;
  width: 450px;
}